.CheckoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CheckoutProduct-image {
    object-fit: contain;
    height: 180px;
    width: 180px;
}
.CheckoutProduct-title{
    font-size: 18px;
    font-weight: 500;
}

.CheckoutProduct-info{
    padding-left: 20px;
}
.CheckoutProduct-button {
    background-color: #f0c146;
    border: 1px solid;
    margin-top: 10px;
    color: black;
    border-color: #a88734 #9c7e31 #846a28 ;
}
.CheckoutProduct-rating{
    display: flex;;
}