.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0px 20px;
}

.header-search{
    display: flex;
    flex: 1;
}

.header-searchInput{
    height: 18px;
    padding: 10px;
    width: 100%;
    border: none;
}

.header-searchIcon{

    height:22px !important;
    padding: 8px;
    background-color: #cd902c;
  

}


.header-nav{

    display: flex;
    justify-content: space-evenly;

}

.header-link{

    
    text-decoration: none;
    color : white;

}
.header-option-one{
    font-size: 10px;
}

.header-option-two{
    font-size: 13px;
    font-weight: 800;
}

.header-option{

    display: flex;
    flex-direction: column;
    margin : 0 10px 0 10px;
}

.header-basket{
    display:flex;
    align-items: center;
}

.header-basket-count{
    margin:0px 10px 0 10px;
}